/* This is here to give everything a red border, just to make it easier to see while developing. */
*
/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */

.box {color:white;
      text-align: center;
      text-decoration: none;
      background-color:purple;
      border-radius: 10px;
      padding:5px;
      width:100%;
      display:block;
      box-shadow: 1px 1px 1px 0 gray
      }
